{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
{% endblock head %}

{% block header %}
<div class="container section">
<div class="content">
  <h1 class="is-1" data-module="example">{{ name }}</h1>
</div>
</div>
{% endblock %}

{% block content %}
<div class="container section">
<div class="content">
  <h1 class="is-1" data-module="example">{{ name }}</h1>
</div>
</div>
{% endblock %}
