@each $name, $color in ($color_set) {
  .#{$name}-elm {
    color: lighten($color, 60%);
    stroke: lighten($color, 60%);
    background-color: $color;
    border-color: $color;
  }

  .#{$name}-elm-button {
    color: lighten($color, 60%);
    stroke: lighten($color, 60%);
    background-color: $color;
    border-color: $color;
    &:hover, &:focus {
      color: lighten($color, 80%);
      background-color: darken($color, 5%);
      border-color: $color;
    }
  }
}

@each $name, $color in ($color_set_light) {
  .#{$name}-elm {
    color: darken($color, 60%);
    stroke: darken($color, 60%);
    background-color: $color;
    border-color: $color;
  }

   .#{$name}-elm-button {
     color: darken($color, 60%);
     stroke: darken($color, 60%);
     background-color: $color;
     border-color: $color;
     &:hover, &:focus {
       color: darken($color, 80%);
       background-color: darken($color, 5%);
       border-color: $color;
     }
   }
}
