$blue: #0070FF;
$indigo: #5B14F0;
$purple: #643AB9;
$pink: #E53681;
$red: #D72E3D;
$orange: #FD7215;
$yellow: #FFB90D;
$green: #249D3D;
$teal: #1EC28C;
$cyan: #1598AF;
$white:white;
$lightgrey:lightgrey;
$lightgray:lightgrey;
$darkgrey:darkgrey;
$darkgray:darkgray;
$whitesmoke: whitesmoke;
$gray: #7B838B;
$gray-dark: #2E3338;
$black:black;
$black-pearl:#1F2529;
$big-stone: #363F48;
$dark-blue: #132433;

$color_set: (
	"blue": $blue,
	"red": $red,
	"orange": $orange,
	"yellow": $yellow,
	"green": $green,
	"white":$white,
	"lightgray": $lightgrey,
	"darkgray": $darkgray,
	"whitesmoke": $whitesmoke,
	"gray": $gray,
	"gray-dark": $gray-dark,
	"black": $black,
	"black-pearl": $black-pearl,
	"dark-blue": $dark-blue,
	);

	$color_set_light: (
		"white": $white,
		"whitesmoke": $whitesmoke,
		"lightgray": $lightgrey,
	);

$font-sizes : (
	'fs-1': 24px,
	'fs-2': 21px,
	'fs-3': 18px,
	'fs-4': 16px,
	'fs-5': 14px,
	'fs-6': 12px
  );
