.card-element
{
	@extend .element-background;
	@extend .flex-element-column;
	border-radius: 5px;

}

.card-element-shadow {
	@extend .card-element;
	@extend .element-shadow;
}

.card-element-header {
	@extend .flex-element;
	@extend .element-border-bottom;
	padding: 10px;
	width: 100%
}

.card-element-content {
	height: 100%;
	> * {

		@extend .flex-element-column;
		padding: 20px;
	}
}
