@each $name, $color in ($color_set) {
  .#{$name}-elm {
	color: lighten($color, 60%);
	stroke: lighten($color, 60%);
    background-color: $color;
    border-color: $color;
  }
}

@each $name, $color in ($color_set_light) {
  .#{$name}-elm {
	color: darken($color, 60%);
	stroke: darken($color, 60%);
    background-color: $color;
    border-color: $color;
  }
}

.inverted-color {
  color: invert(#000000);
}
