
@each $name, $color in ($color_set) {

	.elm-color-#{$name} {
		color: $color;
	}

	.elm-border-color-#{$name} {
		border-color: $color;
	}

	.elm-bg-color-#{$name} {
		background-color: $color;
	}

}
