.block-element {
	min-height: 40vh;
	background-color: whitesmoke;
}

.block-element-small {
	height: 25vh;
}

.block-element-medium {
	height: 40vh;
}

.block-element-large {
	height: 60vh;
}

.block-element-full {
	height: 100vh;
}

.flex-element {
	display: flex;
	align-items: center;
	justify-content: center;


	height: 100%;
	width: 100%;
	>* {
		padding: 0 10px;
		flex-grow: 1;
	}
}

.flex-element-left {
	@extend .flex-element;
	justify-content: flex-start
}

.flex-element-right {
	@extend .flex-element;
	justify-content: flex-end;
}

.flex-element-header {
	>* {
		@extend .flex-element;
		@extend .flex-element-left;
	}
}

.links-element {

	padding: 0 5 0 0;

	.links-element-link {
		padding: 10px 0px;
		display: block;
		border-bottom: 1px solid whitesmoke;
		* {
			padding: 0 10px;
		}
	}

}

.meta-element {
	min-height: 60px;
	padding: 30px 0;
	@extend .flex-element-left;

}
