.block-element {
	min-height: 40vh;
	background-color: whitesmoke;
}

.block-element-small {
	height: 25vh;
}

.block-element-medium {
	height: 40vh;
}

.block-element-large {
	height: 60vh;
}

.block-element-full {
	height: 100vh;
}

.links-element {

	padding: 0 5 0 0;

	.links-element-link {
		padding: 10px 0px;
		display: block;
		border-bottom: 1px solid whitesmoke;
		* {
			padding: 0 10px;
		}
	}

}

.meta-element {

	@extend .flex-element-left;
	margin: 40px 0;
	border: 1px solid lightgray;

	.meta-element-items {

		border-right: 1px solid lightgray;
		height: inherit;
		min-height: 80px;
		@extend .flex-element-left;
		&:last-child {
			border: none;
		}
	}

}
