// Post Title (this will be the title of your component)
//
// Large, **in charge**, and centered. (this is the description of your component. you can use markdown in here.)
//
// Markup (define the markup to be used in your styleguide):
// <h1 class="post-title block-elm">A Post Title</h1>
//
// Styleguide Components.article.post-title
// (ꜛ this controls the organization of your style guide. Here, I'm filing this component inside Components / Article / Post Title)

.block-elm {
	min-height: 40vh;
	@extend .elm-bg-whitesmoke;
}

.block-elm-small {
	height: 25vh;
}

.block-elm-medium {
	height: 40vh;
}

.block-elm-large {
	height: 60vh;
}

.block-elm-full {
	height: 100vh;
}

.links-elm {

	padding: 0 5 0 0;

	.links-elm-link {
		padding: 10px 0px;
		display: block;
		border-bottom: 1px solid whitesmoke;
		* {
			padding: 0 10px;
		}
	}

}

.meta-elm {

	@extend .flex-elm-left;
	margin: 40px 0;
	border: 1px solid whitesmoke;

	.meta-elm-items {

		border-right: 1px solid whitesmoke;
		height: inherit;
		min-height: 60px;
		@extend .flex-elm-left;
		&:last-child {
			border: none;
		}
	}

}

a.back-to-top {
	position: fixed;
	z-index: 7;
	bottom: 160px;
	right: 60px;
	transition: all .7s ease;
	color: gray;
	&:hover {
		color: darken(gray, 40%)
	}
}
