.element-borderless {
	border: none;
}

.element-border-top {
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.element-border-bottom {
	border-top: none;
	border-left: none;
	border-right: none;
}

.element-border-left {
	border-top: none;
	border-bottom: none;
	border-right: none;
}

.element-border-left {
	border-top: none;
	border-bottom: none;
	border-right: none;
}
