.svg-elm {
	fill: none;
	stroke: black;
	width: 16px;
	height: 16px;
	stroke-width: 2px;
	overflow: hidden;
}

.svg-elm-32 {
	@extend .svg-elm;
	width: 32px;
	height: 32px;
}

.svg-elm-48 {
	@extend .svg-elm;
	width: 48px;
	height: 48px;
}

.svg-elm-64 {
	@extend .svg-elm;
	width: 48px;
	height: 48px;
}
