.upload-elm {
	@extend .elm-border;
	@extend .elm-full-width;
	position: relative;
	height: 50px;

  [type=file] {
       @extend .elm-full-height;
       @extend .elm-full-width;
       left: 0;
       outline: none;
       position: absolute;
	   top: 0;
	   opacity: 0;
	   cursor: pointer;
  }

  label {
	  @extend .elm-full-height;
	  @extend .elm-full-width;
	  display: flex;
	  align-items: stretch;
	  justify-content: flex-start;
  }

}

.file-elm-label {
	display: flex;
	@extend .elm-full-height;
	align-items: center;
	justify-content: center;
	min-width: 200px;
	@extend .elm-bg-lightgray;
}

.file-elm-placeholder {
	display: flex;
	@extend .elm-full-height;
	@extend .elm-full-width;
	align-items: center;
	padding: 0 25px;
}
