.upload-elm {

	@extend .elm-full-width;
	position: relative;
	height: 50px;

  [type=file] {
       @extend .elm-full-height;
       @extend .elm-full-width;
       left: 0;
       outline: none;
       position: absolute;
	   top: 0;
	   opacity: 0;
	   cursor: pointer;
  }

  label {

	  @extend .elm-full-height;
	  @extend .elm-full-width;
	  display: flex;
	  align-items: stretch;
	  justify-content: flex-start;
	  overflow: hidden;
  }

}

.file-elm-label {
	display: flex;
	@extend .elm-full-height;
	align-items: center;
	justify-content: center;
	min-width: 18%;
	max-width: 25%;
	padding: 0 20px;
}

.file-elm-placeholder {
	display: flex;
	@extend .elm-full-height;
	@extend .elm-full-width;
	align-items: center;
	padding: 0 20px;
}
