%flex-elm {

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	> * {
		padding: 0 0px;
		flex-grow: 1;
	}

}

%flex-elm-left {
	justify-content:  flex-start;
}


%flex-elm-right {
	justify-content: flex-end;
}

%flex-elm-header {
	>* {
		@extend %flex-elm;
		@extend %flex-elm-left;
	}
}

%flex-elm-column {
	@extend %flex-elm;
	flex-direction: column;
	overflow: hidden;
}
